.header {
    height: 50px;
    background-color: #cdcdcd;
    background: url(../../assets/images/header-background.jpeg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 15px;
}
